@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2> Well Come to RockStart Org </h2>

<h3> Hi!, I am RockStar</h3> 



<p>Use this page to detail your site's privacy policy.</p>

